name: 'HaxExtend'

on:
  #push:
  schedule:
    # UTC time (国内 UTC+8)，每小时运行一次，观察结果分布
     - cron: '30 4 * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
        - name: 'Checkout codes'
          uses: actions/checkout@v2
#         - name: 'Set up Python'
#           uses: actions/setup-python@v2
#           with:
#             python-version: '3.9.10'
        - name: 'Install requirements'
          run: |
            python3 -m pip install -r ./requirements.txt
#            python3 -m pip install --upgrade pip
        - name: 'Working'
          env:
            USER_ID: ${{ secrets.USER_ID }}
            PASS_WD: ${{ secrets.PASS_WD }}
            BARK_KEY: ${{ secrets.BARK_KEY }}
            TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
            TG_USER_ID: ${{ secrets.TG_USER_ID }}

          run: |
            python3 ./main.py